.main-nav {
  max-width: 300px;
}

.main-nav__toggle {
  position: absolute;
  left: 0;
  top: 0;
  
  width: 55px;
  height: 60px;
  margin: 0;
  padding: 0;
  
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.main-nav--closed .main-nav__toggle::before {
  content: '';
  
  position: absolute;
  top: 19px;
  left: 14px;

  display: block;
  width: 27px;
  height: 2px;
  
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.5), 0 16px 0 0 rgba(0, 0, 0, 0.5);
}

.main-nav--closed .site-list {
  display: none;
}

.main-nav--opened .search {
  display: none;
}

.main-nav--opened .main-nav__toggle {
  background-color: #ffffff;
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: '';
    
    position: absolute;
    top: 28px;
    left: 12px;
    
    display: block;
    width: 27px;
    height: 2px;
  
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  &::before {
    transform: rotate(45deg);
  }
  
  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs {
  max-width: 768px;
}

.main-nav__list {
  @include reset-list;
}

//@media (min-width: $tablet-width) {
//  
//}

@media (min-width: $desktop-width) {
  .main-nav__toggle {
    display: none;
  }
}