.main-news__title,
.main-news__category,
.main-news__image,
.main-news__desc {
  margin: 0;
}

.main-news__title {
  min-height: 40px;
}

.main-news__image {
  margin-left: -10px;
  margin-right: -10px;
}

.main-news__img {
  width: auto;
}

//@media (min-width: $tablet-width) {
//  
//}
//
//
//@media (min-width: $desktop-width) {
//
//  
//}