.main-news__title,
.main-news__category,
.main-news__image,
.main-news__desc {
  margin: 0;
}

.main-news__item {
  display: flex;
  flex-direction: column;
}

.main-news__title {
  min-height: 24px;
  font-size: 18px;
}

.main-news__category {
  order: 1;
  
  margin-bottom: 5px;
  
  font-style: italic;
}

.main-news__desc {
  order: 2;
}

.main-news__full-desc {
  order: 3;
}

.main-news__image {
  margin-left: -10px;
  margin-right: -10px;
}

.main-news__img {
  width: auto;
}

//@media (min-width: $tablet-width) {
//  
//}
//
//
//@media (min-width: $desktop-width) {
//
//  
//}