.preload {
  margin-bottom: 20px;
}

.preload__area {
  display: flex;
  justify-content: space-around;
}

.preload__date {
  margin-top: 3px;
  font-style: italic;
}

.preload__link {
  width: 130px;
}

//@media (min-width: $tablet-width) {
//  
//}
//
//
//@media (min-width: $desktop-width) {
//
//  
//}