.search {
  display: flex;
  justify-content: flex-end;
}

.search__link {
  position: absolute;
  top: 20px;
  right: 10px;
}

.search__form {
  display: none;
}

.search__input {
  width: 250px;
  padding: 7px;
}

//.search__form {
//  display: none;
//}





//@media (min-width: $tablet-width) {
//  
//}
//
//
//@media (min-width: $desktop-width) {
//
//  
//}