.search__item {
  position: absolute;
  right: 0;
  top: 0;
}

.search__form {
  display: none;
}

//@media (min-width: $tablet-width) {
//  
//}
//
//
//@media (min-width: $desktop-width) {
//
//  
//}