.site-list {
  position: absolute;
  top: 60px;
  left: 0;
  background-color: #ffffff;
  width: 300px;
  border-radius: 0px 10px 10px 0px;
  box-shadow: 5px 5px 50px rgba(0,0,0,0.7);
}

.site-list__item {
  font-weight: bold;
  
  &:not(:last-of-type) {
    border-bottom: 1px solid #E1D7C1;
  }
}

.site-list__link--current {
  display: block;
  padding: 10px;
  color: rgba(0, 0, 0, 0.3);
}

.site-list__link {
  display: block;
  padding: 10px;
  @include reset-link;
  
  &:focus,
  &:hover {
    text-decoration: underline;
    background-color: #A3E5EE;
    color: #439861;
  }
  
  &:active {
    opacity: 0.5;
  }
}

//@media (min-width: $tablet-width) {
//  
//}
//
//
//@media (min-width: $desktop-width) {
//
//  
//}